.container {
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 8px;
  width: 75%;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

#projects {
  margin: 0 auto;
  width: 95%;
}

#projects h3 {
  font-size: 30px;
}

#projects h3:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  height: 0;
  visibility: hidden;
  width: 0;
}

.visible {
  visibility: visible;
}
.third {
  border: 1px solid red;
  margin: 0 auto;
  width: 93.5%;
}
.second {
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
}
.second p {
  /* float: left; */
  position: relative;
  left: 1rem;
}
.second p:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}
.priority {
  display: table-cell;
  /* float: right; */
  height: 1.5rem;
  left: 34rem;
  line-height: 1.5;
  margin-right: 1rem;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  top: 0.5rem;
  width: 4rem;
}

.delete-todo {
  border-radius: 3px;
  font-size: 1rem;
  /* float: right; */
  height: 2.60rem;
  left: 34rem;
  margin-right: 1rem;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  top: 0.5rem;
  width: 4rem;
}

.red-text {
  background-color: #FFE8E8;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
}

.yellow-text {
  background-color: #FFFFE8;
  color: #E1E100;
  border: 1px solid #E1E100;
  border-radius: 3px;
}

.green-text {
  background-color: #E8FFE8;
  color: green;
  border: 1px solid green;
  border-radius: 3px;
}
